html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.vt{
    background: #A9A9A9; 
    width: 300px;
    height: 400px;
}
.kvl {
  display: inline-block;
  padding: 6px 9px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0000CD;
  border: none;
  border-radius: 0px;
}

.kvl:hover {background-color: #3e8e41}

.kvl:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clearfix {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    width: 30px;
    height: 30px
}
/*--end reset--*/
body a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}
body {
    background: url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592236862-fc34b0fd28495ff.png?w=1920&h=1080) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
    font-size: 24px; 
}

/*-- error --*/
.content {
    width: 70%;
    margin: 2em auto;
}
.error_content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.content_left {
    /*opacity:0.9;*/
    background: url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592239681-f0b3224c59fc202.png?w=400&h=400) repeat 0px 0px;
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    padding: 10px;
    margin-top:5px;
}
.back_to_index {
    margin-bottom: 5px;
}
.content_right {
    border-style:solid;
    border-width:5px; 
    border-color:#FFF;
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    padding: 10px 1em;
    opacity:0.9;
	background: url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592236765-8bfbf356bbce29b.png?w=960&h=540) repeat 0px 0px ;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 1em 0;
	color: #9a6421;
}
.content_left p {
    color: #555;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 26px;
    text-transform: capitalize;
    margin: 5px 0 1em;
}
.content_left h3 {
    font-size: 100px;
    color: #333;
    font-weight: bold;
}
h4 {
    font-size: 28px;
    letter-spacing: 10px;
    margin: 1em 0 .5em;
    color: #777;
    font-weight: bold;

}
h5 {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #303030;
}
.content_left a {
    padding: 15px 20px;
    letter-spacing: 1px;
    color: #fff;
    background: #333;
    font-size: 15px;
    text-transform: capitalize;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content_left a:hover{
    background: #F44336;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content_right h3 {
    color: #ec3dae;
    font-size: 30px;
    text-transform: capitalize;
    /*margin: 1em 0;*/
}
.content_right p {
    color: #ff00d4;
    letter-spacing: 4px;
    font-size: 17px;
}
.content_right span.fas.fa-search {
    font-size: 100px;
    color: #fff;
}
.b-search {
    position: relative;
    width: 90%;
    margin: 5px auto 0;
}
.b-search input[type="text"] {
    width: 100%;
    outline: none;
    padding: 14px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #333;
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.b-search input[type="submit"] {
    background: url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592239743-7d70bd357c73e76.png?w=24&h=24) no-repeat 14px 14px #F44336;
    border: none;
    height: 49px;
    width: 50px;
    display: inline-block;
    position: absolute;
    outline: none;
    cursor: pointer;
    top: 0px;
    right: 0px;
}

/*-- //error --*/

/*-- copyright --*/

.copyright p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 2em;
}
.copyright p a {
    color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.copyright p a:hover {
    color: #F44336;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*-- //copyright --*/

/* -- Responsive code -- */
@media screen and (max-width: 1366px) {
	.content {
		width: 70%;
		margin: 2em auto;
	}
}
@media screen and (max-width: 1080px) {
	.content {
		width: 80%;
		margin: 3em auto;
	}
}
@media screen and (max-width: 1024px) {
	h5 {
		font-size: 18px;
	}
	.content_right p {
		font-size: 16px;
	}
	.b-search {
		width: 100%;
	}
	h4 {
		font-size: 25px;
		letter-spacing: 7px;
		margin: .5em 0 .5em;
	}
}
@media screen and (max-width: 991px) {
	.content {
		width: 85%;
		margin: 2em auto;
	}
	
}
@media screen and (max-width: 900px) {
	.content {
		width: 90%;
	}
	.content_left p {
		letter-spacing: .5px;
		font-size: 14px;
	}
	.content_left h3 {
		font-size: 80px;
	}
}
@media screen and (max-width: 800px) {
	h1 {
		font-size: 45px;
		letter-spacing: 5px;
		margin: .8em 0;
	}
	.content {
		width: 95%;
	}
	h5 {
		font-size: 16px;
	}
}
@media screen and (max-width: 667px) {
	.error_content {
		flex-direction: column;
	}
	.content_left,.content_right{
		padding: 3em;
	}
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 36px;
		letter-spacing: 3px;
		margin: .8em 0;
	}
	.content_left h3 {
		font-size: 60px;
	}
}
@media screen and (max-width: 414px) {
	.content_left,.content_right{
		padding: 5px;
	}
	h1 {
		font-size: 32px;
		letter-spacing: 2px;
	}
	.content_right h3 {
		font-size: 25px;
		margin: .5em 0;
	}
}
@media screen and (max-width: 375px) {
	h1 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	.b-search input[type="text"] {
		padding: 15px 20px;
		font-size: 14px;
	}
	.b-search input[type="submit"] {
		height: 49px;
	}
}
/** 鼠标样式 开始**/
/** 普通指针样式**/
body {
cursor: url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592308672-1519e6635fc6286.png), default;
}
/** 链接指针样式**/
a:hover{cursor:url(https://cdn.jsdelivr.net/gh/qingee/img/img/2020/06/1592308752-3e532a0ade77fae.png), pointer;}
/** 鼠标样式 结束**/
